# k8s/base/secret-db.yml
apiVersion: v1
kind: Secret
metadata:
  name: db-secret
type: Opaque
data:
  DB_USERNAME: Z29sZGVudHVydGxl    # base64("goldenturtle")
  DB_PASSWORD: Z29sZGVudHVydGxl    # base64("goldenturtle")