/* src/assets/stock/StockList.css */

.gt-box {
    background-color: #2b2417; /* Same as header background */
    border: 1px solid rgba(255, 255, 255, 0.08); /* Light border */
    border-radius: 8px; /* Rounded corners */
    padding: 1.5rem;
    margin-bottom: 1rem; /* Space below the box if there are other elements */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.stock-list-header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
}

.stock-search-bar {
    background-color: #3a3528;
    color: #dcd2bb;
    border: 1px solid #4a4a4a;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
}

.stock-search-bar::placeholder {
    color: #888;
}

.stock-list-container {
    padding: 0 1rem;
}

.stock-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1rem; /* Increased font size */
    color: #dcd2bb;
}

.stock-table th,
.stock-table td {
    padding: 1.5rem 1.2rem; /* Adjusted padding */
    text-align: left;
    border-bottom: 1px solid #4a4a4a;
}

.stock-table thead {
    background-color: #3a3528;
    color: #f5f5f5;
}

.stock-table tbody tr:hover {
    background-color: #3a3f44;
}

.positive-change {
    color: #48bb78;
}

.negative-change {
    color: #f56565;
}